#modal {
  position: fixed;
  inset: 0;
  background-color: #fffc;
  z-index: 1;
  display: none;
  place-items: center;
}

#modal-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: var(--clr-primary);
  color: white;
  padding: 1.5rem;
  width: 40%;
  max-height: 60vh;
  border-radius: 0.25rem;
  overflow-y: scroll;
}

#modal-post-title {
  font-size: 2rem;
}

#modal-post-body {
  font-size: 1.25rem;
}

#modal-comments-label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

#modal-comments-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.post-comment {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--clr-primary-darker);
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.post-comment-user {
  font-size: 0.75rem;
}

#modal-wrapper::-webkit-scrollbar {
  width: 0.75rem;
  margin: 0.5rem;
}

/* Track */
#modal-wrapper::-webkit-scrollbar-track {
  background: var(--clr-primary);
  border-radius: 0.25rem;
}

/* Handle */
#modal-wrapper::-webkit-scrollbar-thumb {
  background: var(--clr-primary-darker);
  border-radius: 0.25rem;
  margin: 0.25rem;
}

#modal-wrapper::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.25);
}
