:root {
  --clr-primary: #4e4ecb;
}

body {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.25rem;
}

.post {
  display: flex;
  flex-direction: column;
}

.post button {
  background-color: transparent;
  border: none;
  display: flex;
  padding: 0;
  cursor: pointer;
  filter: brightness(1);
  transition: all 200ms;
}

.post button:hover {
  filter: brightness(0.85);
}

.post:not(:first-child) {
  padding-top: 1rem;
  border-top: 1px solid #ccc;
}

.post-title {
  font-size: 1.25rem;
  font-weight: 900;
  color: var(--clr-primary);
  margin: 0;
}

.post-user {
  color: var(--clr-primary);
  font-weight: bold;
  font-size: 0.75rem;
}

#load-posts-btn {
  display: none;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 72rem;
    margin-inline: auto;
  }
}
